<div class='row justify-content-center'>
  <div class='col-6'>
    <h2 class='text-center'>Edit task:</h2>

    <%= render partial: 'error' %>

    <%= form_with(model: @task, local: true) do |form| %>
      <div class='form-group'>
        <%= form.label :title, for: 'title' %><br>
        <%= form.text_field :title, id: 'title', class: 'form-control', autofocus: 'true' %>
      </div>
      <div class='form-group'>
        <%= form.label :date, for:'date' %><br>
        <%= form.date_field :date, id: 'date', class: 'form-control' %>
      </div>

      <div class='text-center'>
        <%= form.submit 'Update', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <br />

    <div class='text-center'>
      <%= link_to 'Back', projects_path %>
    </div>

  </div>
</div>
