<% if @project.errors.any? %>
  <div class='alert alert-warning alert-dismissible fade show' role='alert'>

    <strong>
      <%= pluralize(@project.errors.count, 'error') %> prohibited
      this project from being saved:
    </strong>

    <ul>
      <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>

  </div>
<% end %>

<%= form_with(model: @project, local: true) do |form| %>
  <div class='form-group'>
    <%= form.label :title, for: 'title' %><br>
    <%= form.text_field :title, id: 'title', class: 'form-control', autofocus: 'true' %>
  </div>

  <div class='text-center'>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
