<div class='row justify-content-center'>
  <div class='col-8'>

    <div class='text-center'>
      <h2>SIMPLE TODO LISTS</h2>
      <h4>FROM RUBYGARAGE</h4>
    </div>
    <br />

    <% if notice %>
      <div class='alert alert-info'>
    <%= notice %>
      </div>
    <% end %>

    <% @projects.each do |project| %>
      <div class='card mt-4'>
        <div class='card-header text-white bg-primary'>
          <%= project.title %>
          <div class='float-right'>
            <%= link_to(content_tag(:i, nil, class: 'pr_edit-test text-white fas fa-edit fa ml-1 mr-1'), edit_project_path(project)) %>
            <%= link_to(content_tag(:i, nil, class: 'pr_trash-test text-white fa fa-trash-o ml-1 mr-1'), project_path(project), method: :delete, data: { confirm: 'Are you sure?' }) %>
          </div>
        </div>
        <div class='card-header text-white bg-light'>
          <%= form_with(model: [project, Task], local: true) do |form| %>
            <div class='form-row align-items-center'>
              <div class='col-8'>
                <%= form.label :title, for: 'inputAddTask', class: 'sr-only' %>
                <%= form.text_field :title, id: 'inputAddTask', class: 'form-control', placeholder: 'Start typing here to create a task...' %>
              </div>

              <div class='col-2'>
                <%= form.label :date, for: 'inputDate', class: 'sr-only' %>
                <%= form.date_field :date, id: 'inputDate', class: 'form-control' %>
              </div>

              <div class='col-2 text-right'>
                <%= form.submit 'Add Task', class: 'btn btn-success' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% project.tasks.each do |task| %>
        <div class='card'>
          <div class='card-body'>
            <% if task.completed? %>
              <%= link_to(content_tag(:i, nil, class: 't_compl fa-check fa fa ml-1 mr-1'), complete_task_path(task.id), method: :patch) %>
              <strike><%= task.title %></strike>
            <% else %>
              <%= link_to(content_tag(:i, nil, class: 't_uncompl fa-circle-thin fa ml-1 mr-1'), complete_task_path(task.id), method: :patch) %>
              <%= task.title %>
            <% end %>
            <div class='float-right'>
              <%= task.date %>
              <%= link_to task_path(task, position: 'up'), method: :put do %>
              <i class='text-body fas fa-chevron-up fa ml-3 mr-1'></i>
              <% end %>
              <%= link_to task_path(task, position: 'down'), method: :put do %>
              <i class='text-body fas fa-chevron-down fa ml-1 mr-1'></i>
              <% end %>
              <%= link_to(content_tag(:i, nil, class: 't_edit-test text-body fas fa-edit fa ml-1 mr-1'), edit_task_path(task)) %>
              <%= link_to(content_tag(:i, nil, class: 't_trash-test text-body fa fa-trash-o ml-1 mr-1'), task_path(task), method: :delete, data: { confirm: 'Are you sure?' }) %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class='text-center m-5'>
      <%= link_to 'Add TODO List', new_project_path(@project), class: 'btn btn-primary' %>
    </div>

    <p class='mt-5 mb-3 text-muted text-center'>&copy; RubyGarage</p>

  </div>
</div>
