<!DOCTYPE html>
<html>
  <head>
    <title><%= t('page.header.main') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-6'></div>
        <div class='col-6'>
          <div class='navbar-text float-right'>
            <% if user_signed_in? %>
              <%= image_tag current_user.gravatar_url, :class => 'gravatar' %>
                <%= t('page.header.login') %> <strong><%= current_user.email %></strong>.
              <%= link_to t('user.edit_profile'), edit_user_registration_path, :class => 'navbar-link' %> |
              <%= link_to t('user.logout'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
              <%= link_to t('user.sign_up'), new_user_registration_path, :class => 'navbar-link'  %> |
              <%= link_to t('user.login'), new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
          </div>
        </div>
      </div>
      <br />
      <%= yield %>
    </div>
  </body>

</html>
